<p id="result_name">名前：<%= @list.name %></p>
<p id="result_age">年齢：<%= @list.age %></p>
<p>身長：<%= @list.height %></p>
<p id="result_gty">罪状：<%= @list.guilty %></p>
<p id="result_bty">懸賞金：<%= @list.bounty %></p>
<p class="story">事件内容：<%= @list.story %></p>